body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #ff6500;
}

aside img {
    width: 50px;
    float: left;
    margin-left: 10%;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 30px;
}

aside ul {
    list-style: none
}

aside ul a {
    text-decoration: none;
}

aside ul li i {
    padding-right: 7px;
}

aside ul li {
    color: #fff;
    font-size: 18px;
    display: block;
    margin-top: 20px;
    transition: transform .4s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #ff6500;
    text-decoration: none;
    transform: scale(1.05);
}

.bottom-links {
    position: fixed;
    left: 3%;
    bottom: 1%;
}

main .features{
    color: #fff;
    float: left;
    margin-top: 50px;
    text-align: center;
    width: 75%;
}
